<% i = 1 %>
<% @cuisines.each do |cuisine| %>
  <ul>
    <h2><a class="category_item list_restaurants_<%=i%>" href=<%= cuisine_path(cuisine)%>><%= cuisine.name %></a> (<%= cuisine.restaurants.count%>)</h2>
    <div class="list_restaurants_<%=i%>"></div>
  </ul>
  <% i += 1 %>
<% end %>
