<h1>Your Profile</h1>
<h5>Logged in as <%= current_user.email %></h5>

<%= count_restaurants_greeting %>

<ol>
<% current_user.restaurants.each do |restaurant| %>
  <li>
    <%=restaurant.name %><br>
    <%= add_or_see_review(restaurant) %>
  </li>
<% end %>
</ol>

<%= form_for (@visit) do |f| %>
  <%= select_tag :restaurant, options_from_collection_for_select(@restaurants, "id", "name"), {:prompt => "Enter a new restaurant you've visited:"} %>
  <%= f.submit "Submit"%>
<% end %>
