<h1>Your Profile</h1>
<h5>Logged in as <%= current_user.email %></h5>
<% if current_user.restaurants.any? %>
  <% if current_user.restaurants.count == 1 %>
    <h3>Congratulations! You visited your first Michelin 3-Star Restaurant!</h3>
  <% elsif current_user.restaurants.count > 1 %>
    <h3>You've Visited <%= current_user.restaurants.count %> Michelin 3-Star Restaurants So Far!</h3>
  <% end %>
  <h5>There are <%= Restaurant.all.count - current_user.restaurants.count %> more Michelin 3-Star Restaurants in the world for you to try!</h5>
  <ol>
  <% current_user.restaurants.each do |restaurant| %>
    <li>
      <%=restaurant.name %><br>
      <% if !current_user.reviews.detect{|review| review.restaurant_id == restaurant.id} %>
        <%= link_to "Add Review", new_restaurant_review_path(restaurant), class: "add_review restaurant_#{restaurant.id}"%>
        <div class="restaurant_<%= restaurant.id %>"></div>
      <% else %>
        <% review = Review.find_by(restaurant_id: restaurant.id)%>
        <%= link_to "See Your Review", review_path(review), class: "see_review review_#{review.id}"%>
        <div class="review_<%= review.id %>"></div>
      <% end %>
    </li>
  <% end %>
  </ol>
<% else %>
  <h3> You haven't visited any 3-Star Michelin Restaurants Yet</h3>
<% end %>
<%= form_for (@visit) do |f| %>
  <%= select_tag :restaurant, options_from_collection_for_select(@restaurants, "id", "name"), {:prompt => "Enter a new restaurant you've visited:"} %>
  <%= f.submit "Submit"%>
<% end %>
