<h1>Add Restaurant Listing</h1>
<%= form_for(@restaurant) do |f| %>
  <p><%= f.label :name %>
  <%= f.text_field :name %></p>
  <%= f.text_field :cuisine_name, list: "cuisine_autocomplete" %>
  <datalist id="cuisine_autocomplete">
    <% @cuisines.each do |cuisine| %>
      <option value="<%= cuisine.name %>">
    <% end %>
  </datalist>
  <%= f.submit "Submit"%>
<% end %>
