<h1>Add Restaurant Listing</h1>
<%= form_for(@restaurant) do |f| %>
  <p><%= f.label :name %>
  <%= f.text_field :name %></p>
  <%= f.label :cuisine %>
  <%= f.select 'cuisine', options_from_collection_for_select(@cuisines, 'id', 'name'), include_blank: true %><br>
  <p>Not listed? Add a new cuisine:
  <%= f.text_field :cuisine %></p>
  <%= f.label :city %>
  <%= f.select 'city', options_from_collection_for_select(@cities, 'id', 'name'), include_blank: true %><br>
  <p>Not listed? Add a new city:
  <%= f.text_field :city %></p>
  <%= f.submit "Submit"%>
<% end %>
