<h1>Add Restaurant Listing</h1>

<%= form_for(@restaurant) do |f| %>
  <%= render partial: 'validation_errors', locals: {object: @restaurant} %>
  <p><%= f.label :name %>
  <%= f.text_field :name %></p>
  <p>Select/Enter Cuisine:
  <%= f.text_field :cuisine_name, list: "cuisine_autocomplete" %>
  <datalist id="cuisine_autocomplete">
    <% Cuisine.all.each do |cuisine| %>
      <option value="<%= cuisine.name %>">
    <% end %>
  </datalist></p>
  <p>Select/Enter City:
  <%= f.text_field :city_name, list: "city_autocomplete" %>
  <datalist id="city_autocomplete">
    <% City.all.each do |city| %>
      <option value="<%= city.name %>">
    <% end %>
  </datalist></p>
  <%= f.radio_button :price_range, '$' %> $
  <%= f.radio_button :price_range, '$$' %> $$
  <%= f.radio_button :price_range, '$$$' %> $$$
  <%= f.radio_button :price_range, '$$$$' %> $$$$
  <%= f.submit "Add Listing" %>
<% end %>
