<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.cuisine.name %> Cuisine |
  <% if @restaurant.city.name != @restaurant.city.country.name %>
  <%= @restaurant.city.name %>, <%= @restaurant.city.country.name %>
  <% else %>
  <%= @restaurant.city.name %>
  <% end %></h3>
  <h6><%= link_to "Visit Website", @restaurant.website_url, target: :_blank %></h6>
<h4><%= calculate_average(@restaurant) %></h4>

<% if @restaurant.reviews.any? %>
  <%= link_to "See Reviews", restaurant_reviews_path(@restaurant), id: "list_reviews"%>
  <div class="list_reviews">
  </div>
<% end %>




<% if user_signed_in? && current_user.admin == true %>
  <div>
    <%= button_to 'Delete Restaurant Listing', {controller: 'restaurants', action: 'destroy', restaurant_id: @restaurant.id}, method: "delete" %>
  </div>
<% end %>
