<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.cuisine.name %> Cuisine |
  <% if @restaurant.city.name != @restaurant.city.country.name %>
  <%= @restaurant.city.name %>, <%= @restaurant.city.country.name %>
  <% else %>
  <%= @restaurant.city.name %>
  <% end %></h3>
<h4><%= calculate_average(@restaurant) %></h4>

<% if user_signed_in? %>
  <h4><%= link_to 'Add Review', "/restaurants/#{@restaurant.id}/reviews/new" %></h4>
<% end %>

<%= link_to "See Reviews", restaurant_reviews_path(@restaurant), id: "reviewsButton"%>
<% if @restaurant.reviews.any? %>

<% end %>
<div id="reviews">
</div>



<% if user_signed_in? && current_user.admin == true %>
  <div>
    <%= button_to 'Delete Restaurant Listing', {controller: 'restaurants', action: 'destroy', restaurant_id: @restaurant.id}, method: "delete" %>
  </div>
<% end %>
