<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.cuisine.name %> Cuisine |
  <% if @restaurant.city.name != @restaurant.city.country.name %>
  <%= @restaurant.city.name %>, <%= @restaurant.city.country.name %>
  <% else %>
  <%= @restaurant.city.name %>
  <% end %></h3>
<h4><%= calculate_average(@restaurant) %></h4>
<% if user_signed_in? %>
  <h4><%= link_to 'Add Review', "/restaurants/#{@restaurant.id}/reviews/new" %></h4>
<% end %>

<% if @restaurant.reviews.any? %>
  <h3>Reviews</h3>
  <ul>
    <% @restaurant.reviews.order({created_at: :desc}).each do |review| %>
      <li>
        <p><%=link_to review.user.email, user_path(review.user) %> at <%= review.updated_at.strftime("%b %d, %Y %I:%M %p") %> </p>
        <%= render partial: './reviews/list', locals: {review: review} %>
      </li>
    <% end %>
  </ul>

<% end %>

<% if user_signed_in? && current_user.admin == true %>
  <div>
    <%= button_to 'Delete Restaurant Listing', {controller: 'restaurants', action: 'destroy', restaurant_id: @restaurant.id}, method: "delete" %>
  </div>
<% end %>
