<% i = 1 %>
<% @countries.each do |country| %>
  <ul>
     <h3><a class="list_restaurants_<%=i%>" href=<%=country_path(country)%>><%=country.name%></a> (<%= country.restaurants.count%>)</h3>
     <div class="list_restaurants_<%=i%>">
     </div>
  </ul>
  <% i += 1 %>
<% end %>
